__pycache__
*.pyc
.git
.github
.venv
venv
env
.DS_Store
.vscode
.idea
*.swp
*.swo
node_modules
.pytest_cache
README.md
.gitignore
videos
audios
jsons
embeddings.joblib
embedding_matrix.npy
requirements.txt
dashboard.py
video_to_mp3.py
mp3_to_json.py
preprocess_json.py
.streamlit
